body {
font-family: 'Raleway', sans-serif;
}

h1 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 55px;
}

ul {
    text-align: right;
}

p {
    padding: 45px;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
}

.nav-link {
    font-size: 20px;
    font-weight: bolder;

}

.navbar-brand {
    font-size: 20px;
    font-weight: bolder;

}

button {
    color: black;
    border-color: black;
}

img {
    height: 842px;
    width: 561px;
}

.col {
    font-size: 30px;
} 

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

a:link {
    color: rgb(82, 82, 82);
}

a:visited {
    color: rgb(59, 99, 59);
}